
body {
	text-align: center;
	/*display: block;
	overflow-y: scroll;
    scroll-behavior: smooth;*/
	
	
}

.content-area {
	position: absolute;
	top: 25vw;
	background:rgb(12, 108, 163);
	

	
}

.end{
	margin-top: 0.2vw;
}
